<div class="nb-error">
  <div class="error-code">404</div>
  <h3 class="font-bold">We couldn't find the page..</h3>

  <div class="error-desc">
    Sorry, but the page you are looking for was either not found or does not exist.
    <br><br>
    <ul class="list-inline text-center text-sm">
      <li class="list-inline-item"><a [routerLink]="['']" class="text-primary"><h5>Go to Home</h5></a>
      </li>
    </ul>
    <div class="text-center">
      <span>©</span>
      <span>2017</span>
      <span>-</span>
      <span>AppOne</span>
    </div>
  </div>
</div>